/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.all-songs,
.song-card,
.playlist {
    flex: 1;
    margin: 10px;
}


.panel{
    background-color: #6BB8DE; 
    border-radius: 10px;
    padding:20px;
    height: 600px;
}

.panel_song{
    background-color: rgb(5,115,171);
    border-radius: 10px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:2px;
}

.button_style{
    background-color: rgb(146,91,254);
    padding-left:8px;
    padding-right:8px;
    padding-top:5px;
    padding-bottom: 5px;
    width:100px;
    border: none;
    color: white;
}
li{
    background-color:#0B80BB; 
    padding-left: 10px;
    padding-right: 10px;
    width:200px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: -42px;
    margin-bottom: 10px;
    border-radius: 5px;
    color:white;
}


.dropdownColor{
    background-color: #3F718A;
    border-radius: 3px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
/* Add more styling as needed */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }